body,
html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  background-image: url("images/LoginPageBackground.jpg");
}

#loginPageBackgroundImage {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.75;
}
.login-form {
  width: 340px;
  margin: 50px auto;
  font-size: 15px;
}

.login-form form {
  margin-bottom: 15px;
  background: #f7f7f7;
  box-shadow: Opx 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.login-form h2 {
  margin: 0 0 15px;
}
.form-control,
.btn {
  min-height: 38px;
  border-radius: 2px;
}
.btn {
  font-size: 15px;
  font-weight: bold;
}

#loginPage {
  background-repeat: no-repeat;
}
.forms-out {
  margin: 0 auto;
  font-family: "Fira Sans", sans-serif;
  padding: 15px 0;
}

.forms-in {
  width: 93%;
  margin: 0 auto;
  color: white;
  padding: 15px 0;
}

.forms-in div {
  padding: 30px 20px;
  max-width: 350px;
  margin: 0 auto;
  background: #168ab8;
  border-radius: 5px;
  margin-bottom: 15px;
}

.forms-in h3 {
  text-align: center;
}

.forms-in input {
  border: none;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 3px;
}

.forms-in button {
  border: none;
  padding: 7px 20px;
  background: #e8f8ff;
  color: #168ab8;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.forms-in button:hover {
  opacity: 0.7;
}

.hide {
  display: none;
}

#show-password {
  text-align: center;
  font-size: 15px;
  cursor: pointer;
}

#show-password:hover {
  opacity: 0.7;
}

.p {
  text-align: center;
  font-size: 13px;
}
